@model DTOs.DTOPedido

@{
    ViewData["Title"] = "Baja";
}

<h1>Baja</h1>

@if (ViewBag.Mensaje != null)
{
    <p class="alert alert-danger">@ViewBag.Mensaje</p>
}

<h3>Estas seguro que quieres dar de baja el pedido?</h3>
<div>
    <h4>DTOPedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDeEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticuloId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticuloId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticuloCantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticuloCantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IVAActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IVAActual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoDelPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoDelPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlazoMaximo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlazoMaximo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
    </dl>
    
    <form asp-action="Baja">
        <input type="submit" value="Baja" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
