@using DTOs
@model List<DTOCantidad>

@if (ViewBag.Mensaje != null)
{
    <div class="mt-2">
        <p class="fw-bold text-danger text-center">@ViewBag.Mensaje</p>
    </div>
}
@{   
    var agrupadosPorAnio = Model.GroupBy(r => r.Anio).ToList();
}

@foreach (var agrupado in agrupadosPorAnio)
{
    int totalAcumulado = 0;

    <h2>Año: @agrupado.Key</h2>

    <ul>
        @foreach (var resumenAnual in agrupado)
        {
            <li>Tipo: @resumenAnual.Tipo – Cantidad: @resumenAnual.Cantidad</li>
            totalAcumulado += resumenAnual.Cantidad;
        }
    </ul>

    <p>Total año @agrupado.Key : @totalAcumulado</p>
}


