@model IEnumerable<DTOs.DTOMovimientoDeStock>

@{
    ViewData["Title"] = "MovimientosPaginado";
}

<h1>MovimientosPaginado</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadArticulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticuloDeMovimientoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioDeMovimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDeMovimientoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaYHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadArticulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticuloDeMovimientoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioDeMovimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDeMovimientoId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
<p class = "text-center">
    @for (int i = 1; i <= ViewBag.Paginas; i++)
    {
        <a href="~/MovimientosDeStock/MovimientosPaginado?pagina = @i">@i | </a>
    }

</p>
